<h1 class="h1"><i class="far fa-hamburger"></i>Burgers!</h1>

<h2 class="h2"><i class="fas fa-burger-soda">Burgers Not Devoured</i></h2>

<ul class="list-group">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
  </li>
</ul>

<h2 class="h2"><i class="fas fa-hamburger">Burgers Devoured</i></h2>

<ul class="list-group">
  
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
  
</ul>

<h2 class="h2"><i class="fal fa-cheeseburger">Add Burger</i></h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Waiting to be Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>
